<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.book.bookmanage.business.impl.BookDaoImpl">

    <!-- 查询列 -->
    <sql id="selectBookColunm">
		select t.book_id as bookId,
			 t.type_id as typeId,
			 t.book_name as bookName,
			 t.isbn as isbn,
			 t.publisher,
			 t.author,
			 t.page_num as pageNum,
			 t.publish_date as publishDate,
			 t.sale_price as salePrice,
			 t.introduction,
			 t.discount,
			 t.buy_count as buyCount,
			 t.img_id as imgId,
			 t.create_time as createTime,
			 g.type_name as typeName
	</sql>

    <!-- 添加图书信息 -->
    <insert id="insert" parameterType="Book">
		insert into BT_T_BOOK (book_id,
				type_id,
				book_name,
				isbn,
				publisher,
				author,
				page_num,
				publish_date,
				sale_price,
				introduction,
				discount,
				buy_count,
				img_id,
				create_time)
		values (
				<choose>
					<when test="bookId != null and bookId !=''">
						#{bookId,jdbcType=VARCHAR},
					</when>
					<otherwise>
						UUID(),
					</otherwise>
				</choose>
				#{typeId,jdbcType=VARCHAR},
				#{bookName,jdbcType=VARCHAR},
				#{isbn,jdbcType=VARCHAR},
				#{publisher,jdbcType=VARCHAR},
				#{author,jdbcType=VARCHAR},
				#{pageNum,jdbcType=INTEGER},
				#{publishDate,jdbcType=DATE},
				#{salePrice,jdbcType=DOUBLE},
				#{introduction,jdbcType=VARCHAR},
				#{discount,jdbcType=DOUBLE},
				#{buyCount,jdbcType=INTEGER},
				#{imgId,jdbcType=VARCHAR},
				#{createTime,jdbcType=DATE})
	</insert>

    <!-- 删除图书信息-->
    <delete id="delete" parameterType="String">
		delete from BT_T_BOOK where book_id=#{_parameter}
	</delete>

    <!-- 更新图书信息 -->
    <update id="update" parameterType="Book">
		update BT_T_BOOK t
		set t.type_id=#{typeId,jdbcType=VARCHAR},
			t.book_name=#{bookName,jdbcType=VARCHAR},
			t.isbn=#{isbn,jdbcType=VARCHAR},
			t.publisher=#{publisher,jdbcType=VARCHAR},
			t.author=#{author,jdbcType=VARCHAR},
			t.page_num=#{pageNum,jdbcType=INTEGER},
			t.publish_date=#{publishDate,jdbcType=DATE},
			t.sale_price=#{salePrice,jdbcType=DOUBLE},
			t.introduction=#{introduction,jdbcType=VARCHAR},
			t.discount=#{discount,jdbcType=DOUBLE},
			t.buy_count=#{buyCount,jdbcType=INTEGER},
			t.img_id=#{imgId,jdbcType=VARCHAR}
		where t.book_id=#{bookId}
	</update>

    <!-- 根据book_id查询图书信息-->
    <select id="selectOne" parameterType="String" resultType="Book">
        <include refid="selectBookColunm"></include>
        from BT_T_BOOK t , BT_T_TYPE g
        where t.type_id = g.type_id and t.book_id=#{_parameter}
    </select>

    <!-- 查询图书信息集合 -->
    <select id="selectList" parameterType="Book" resultType="Book">
        <include refid="selectBookColunm"></include>
        from BT_T_BOOK t, BT_T_TYPE g
		where t.type_id = g.type_id
            <if test="bookId != null and bookId !=''">
                and t.book_id = #{bookId}
            </if>
			<if test="typeId != null and typeId !=''">
				and t.type_id = #{typeId}
			</if>
            <if test="bookName != null and bookName !=''">
                and instr(t.book_name,#{bookName}) >0
            </if>
			<if test="isbn != null and isbn !=''">
				and instr(t.isbn,#{isbn}) >0
			</if>
            <if test="publisher != null and publisher !=''">
                and instr(t.publisher,#{publisher}) >0
            </if>
            <if test="author != null and author !=''">
                and instr(t.author,#{author}) >0
            </if>
            <if test="pageNum != null and pageNum !=''">
                and t.page_num = #{pageNum}
            </if>
			<if test="publishDate != null and publishDate !=''">
				and t.publish_date = #{publishDate}
			</if>
			<if test="salePrice != null and salePrice !=''">
				and t.sale_price = #{salePrice}
			</if>
			<if test="introduction != null and introduction !=''">
				and instr(t.introduction,#{introduction}) >0
			</if>
			<if test="discount != null and discount !=''">
				and t.discount = #{discount}
			</if>
			<if test="buyCount != null and buyCount !=''">
				and t.buy_count = #{buyCount}
			</if>
		order by t.create_time desc
    </select>

</mapper>