<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.book.bookmanage.business.impl.UserDaoImpl">
	
	<!-- 查询列 -->
	<sql id="selectUserColunm">
		select t.user_id as userId,
			 t.login_name as loginName,
			 t.user_name as userName ,
			 t.user_type as userType,
			 t.password ,
			 t.telphone,
			 t.email,
			 t.address ,
			 t.create_time as createTime,
			 t.remark
	</sql>

	<!-- 添加用户 -->
	<insert id="insert" parameterType="User">
		insert into BT_T_USER (user_id,
				login_name,
				user_name,
				user_type,
				password,
				telphone,
				email,
				address,
				create_time,
				remark)
		values (#{userId,jdbcType=VARCHAR},
				#{loginName,jdbcType=VARCHAR},
				#{userName,jdbcType=VARCHAR},
				#{userType,jdbcType=VARCHAR},
				#{password,jdbcType=VARCHAR},
				#{telphone,jdbcType=VARCHAR},
				#{email,jdbcType=VARCHAR},
				#{address,jdbcType=VARCHAR},
				#{createTime,jdbcType=DATE},
				#{remark,jdbcType=VARCHAR})
	</insert>

	<!-- 删除用户-->
	<delete id="delete" parameterType="String">
		delete from BT_T_USER where user_id=#{_parameter}
	</delete>

	<!-- 更新用户 -->
	<update id="update" parameterType="User">
		update BT_T_USER t
		set t.login_name=#{loginName,jdbcType=VARCHAR},
			t.user_name=#{userName,jdbcType=VARCHAR},
			t.telphone=#{telphone,jdbcType=VARCHAR},
			t.email=#{email,jdbcType=VARCHAR},
			t.address=#{address,jdbcType=VARCHAR},
			t.remark=#{remark,jdbcType=VARCHAR}
		where t.user_id=#{userId}
	</update>

	<!-- 根据user_id查询用户-->
	<select id="selectOne" parameterType="String" resultType="User">
		<include refid="selectUserColunm"></include>
		from BT_T_USER t
		where t.user_id=#{_parameter}
	</select>

	<!-- 查询用户集合 -->
	<select id="selectList" parameterType="User" resultType="User">
		<include refid="selectUserColunm"></include>
		from BT_T_USER t
		<where>
			<if test="userId != null and userId !=''">
				and t.user_id = #{userId}
			</if>
			<if test="loginName != null and loginName !=''">
				and instr(t.login_name,#{loginName}) >0
			</if>
			<if test="userName != null and userName !=''">
				and instr(t.user_name,#{userName}) >0
			</if>
			<if test="userType != null and userType !=''">
				and t.user_type = #{userType}
			</if>
			<if test="telphone != null and telphone !=''">
				and instr(t.telphone,#{telphone}) >0
			</if>
			<if test="email != null and email !=''">
				and instr(t.email,#{email}) >0
			</if>
			<if test="address != null and address !=''">
				and instr(t.address, #{address}) >0
			</if>
		</where>
		order by t.create_time desc
	</select>

	<!-- 验证用户登录用户-->
	<select id="validLogin" parameterType="User" resultType="int">
		select count(1)
		from BT_T_USER t
		where t.login_name=#{loginName} and t.password=#{password} and t.user_type=#{userType}
	</select>

	<!-- 查询用户 -->
	<select id="getUser" parameterType="User" resultType="User">
		<include refid="selectUserColunm"></include>
		from BT_T_USER t
		where t.login_name=#{loginName} and t.password=#{password} and t.user_type=#{userType}
	</select>

	<!-- 更新密码 -->
	<update id="updatePassword" parameterType="User">
		update BT_T_USER t
		set t.password=#{password,jdbcType=VARCHAR}
		where t.user_id=#{userId}
	</update>
</mapper>